.adf, .yoyo, .djfidsf {
    color: white;
}

.sdf, .tee, body {
    color: white;
}
.adf:not(.sdf) {
    color: yellow;
}

.sdjfi.sjdifdsjf.sdf {
    color: yellow;
}

.adf,
.sdf11,
.dfdf,
body {
    color: white;
}
