.adf-986n6q, .yoyo-3jfcse, .djfidsf-6h93ed {
    color: white;
}

.sdf-hn3hq7, .tee-6n4cxy, body {
    color: white;
}
.adf-986n6q:not(.sdf-hn3hq7) {
    color: yellow;
}

.sdjfi-ybna8z.sjdifdsjf-8bsm4m.sdf-hn3hq7 {
    color: yellow;
}

.adf-986n6q,
.sdf11-5pejmt,
.dfdf-6t9bym,
body {
    color: white;
}
