.adf-6sjkhb, .yoyo-dmrjjz, .djfidsf-m6ug3v {
    color: white;
}

.sdf-99zevj, .tee-4qubyb, body {
    color: white;
}
.adf-6sjkhb {
    color: yellow;
}

.sdjfi.sjdifdsjf.sdf-4h9154 {
    color: yellow;
}

.adf-6sjkhb,
.sdf11-4kjtj9,
.dfdf-76e9yp,
body {
    color: white;
}
